doctype html
html.h-100
head
	<!-- Global site tag (gtag.js) - Google Analytics -->
	script(async src='https://www.googletagmanager.com/gtag/js?id=' + conference.gaId)
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '#{conference.gaId}`');

	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	link(rel='icon' href='/assets/favicon.ico')
	link(rel='stylesheet' href='https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css')
	link(rel='stylesheet', href='/assets/css/common.css')
	script(src='https://unpkg.com/feather-icons')
	link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed' rel='stylesheet')
	title #{conference.name} - #{title}
body.h-100
.h-100
	include _includes/header.pug
	div
		|	!{content}
	include _includes/footer.pug

script(src='assets/js/countdown.js')
script.
	feather.replace();
	createCountdown(document.getElementById('countdown'), '#{conference.startDate}');
